# For debugging purposes
jupyter
notebook
ipywidgets

celery==5.3.0
redis==5.1.0

networkx
# Torch
# torchaudio
torch_geometric
lightning==2.6.0
lightning-utilities==0.14.3
timm
torchmetrics[text]
transformers==4.57.3
sentencepiece==0.2.1
peft
datasets
accelerate
safetensors
# flash_attn==2.7.4.post1
# bitsandbytes==0.41.0
# deepspeed==0.13.5
einops
numpy==1.26.4

# Other dependencies
nltk
packaging
pillow==11.1.0
pyyaml==6.0.2
requests

scikit-learn==1.6.0
scikit-image==0.25.2
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
tqdm
einops
Polygon3
pyclipper
scipy
shapely
pycocotools
matplotlib
fire
lmdb
python-Levenshtein
pandas
python-dotenv==1.0.1
Unidecode
wandb
tensorboard
###################################
ultralytics==8.3.137



